---
import SkillCard from '../../../src/components/SkillCard.astro'
import { getCollection } from "astro:content";
import IndexPageLayout from "../../layouts/IndexPageLayout.astro";
import { Button } from '../../components/ui/button'

const skills = await getCollection('competences');
---

<IndexPageLayout title="Mes compétences" subTitle="Mes compétences">
  <div class="mb-4">
    <Button id="allSkillsBtn">Toutes</Button>
    <Button id="technicalSkillsBtn">Techniques</Button>
    <Button id="otherSkillsBtn">Humaines</Button>
  </div>
  <div id="skillsContainer" class="grid grid-cols-3 gap-3">
    {
      skills.map((entity: any) => (
        <SkillCard
          key={entity.data.title}
          class={entity.data.category}
          href={`${import.meta.env.BASE_URL}/competences/` + entity.slug}
          heading={entity.data.title}
          subheading={entity.data.description}
          altText={entity?.data?.image.alt}
          imagePath={entity?.data?.image.url}
          dateStart={entity.data.startDate}
        />
       ))
    }
  </div>
</IndexPageLayout>

<script>
  // Filter skills by all
  function attachEventListeners() {
    const allSkillsBtn = document.getElementById('allSkillsBtn');
    if (allSkillsBtn) {
      allSkillsBtn.addEventListener('click', () => {
        document.querySelectorAll('.technical, .other').forEach(el => (el as HTMLElement).style.display = 'block');
      });
    }

    // Filter skills by technical
    const technicalSkillsBtn = document.getElementById('technicalSkillsBtn');
    if (technicalSkillsBtn) {
      technicalSkillsBtn.addEventListener('click', () => {
        document.querySelectorAll('.technical').forEach(el => (el as HTMLElement).style.display = 'block');
        document.querySelectorAll('.other').forEach(el => (el as HTMLElement).style.display = 'none');
      });
    }

    // Filter skills by other
    const otherSkillsBtn = document.getElementById('otherSkillsBtn');
    if (otherSkillsBtn) {
      otherSkillsBtn.addEventListener('click', () => {
        document.querySelectorAll('.technical').forEach(el => (el as HTMLElement).style.display = 'none');
        document.querySelectorAll('.other').forEach(el => (el as HTMLElement).style.display = 'block');
      });
    }
  }

  // Attach event listeners when the page is loaded or when the page is swapped
  document.addEventListener('DOMContentLoaded', attachEventListeners);
  document.addEventListener('astro:after-swap', attachEventListeners);

  // Ensure event listeners are attached on initial load
  attachEventListeners();
</script>
