---
import { PROFILE } from "../../content/profileData";
import { getCollection } from "astro:content";
import { Button } from '../ui/button';

let competences = await getCollection('competences');

// Filtrer les compétences par type
let competencesTechniques = competences.filter(comp => comp.data.category === 'technical').slice(0, 3);
let competencesHumaines = competences.filter(comp => comp.data.category === 'other').slice(0, 3);
---

<div class="mt-2 space-y-4">
  <h2 class="text-lg font-semibold">Techniques</h2>
  {competencesTechniques.map((competence) => (
    <div>
      <h3 class="text-lg text-primary">
        <a href={`/${import.meta.env.BASE_URL}competences/${competence.slug}`} class="hover:underline">
          {competence.data.title}
        </a>
      </h3>
      <p class="description">
      Niveau :  {competence.data.description}
      </p>
    </div>
  ))}

  <h2 class="text-lg font-semibold mt-6">Humaines</h2>
  {competencesHumaines.map((competence) => (
    <div>
      <h3 class="text-lg text-primary">
        <a href={`/${import.meta.env.BASE_URL}competences/${competence.slug}`} class="hover:underline">
          {competence.data.title}
        </a>
      </h3>
      <p class="description">
      Niveau :  {competence.data.description}
      </p>
    </div>
  ))}
</div>
<a href={`/${import.meta.env.BASE_URL}competences`}>
  <Button variant="link" className="pl-0">Voir mes autres compétences</Button>
</a>

<style>
  .description {
    font-size: 0.875rem;
    color: #666;
  }
  </style>