---
import { getCollection } from "astro:content";
import { Button } from '../ui/button'

let realisations = await getCollection('realisations');

// Limit the number of realisations displayed
realisations = realisations.slice(0, 3);
---

<div class="mt-2 space-y-4">
  {
    realisations.slice(0, 2).map((realisation) => (
      <div>
        <h3 class="text-lg text-primary">
          <a href={`/${import.meta.env.BASE_URL}realisations/${realisation.slug}`} class="hover:underline">
            {realisation.data.title}
          </a>
        </h3>
        <p class="text-sm">
          {realisation.data.description}
        </p>
      </div>
    ))
  }
  <a href="/${import.meta.env.BASE_URL}realisations">
    <Button variant="link" className="pl-0">Voir mes autres réalisations</Button>
  </a>
</div>
