---
import { Badge } from "./ui/badge";
const {tags} = Astro.props;

const skillTagMapping = {
  "base de données": "base-de-donnees",
  "admin système linux": "admin-sys-linux",
  "design graphique": "design-graphique",
  "docker": "docker",
  "documentation": "documentation",
  "git": "git",
  "gestion de projet": "gestion-de-projet",
  "scripting": "scripting",
  "formation": "formation",
  "virtualisation": "virtualisation"
};

function getTagUrl(tag) {
  const skill = skillTagMapping[tag.toLowerCase()] || tag.toLowerCase();
  const skillUrl = `${import.meta.env.BASE_URL}/competences/${skill}`;
  const projectUrl = `${import.meta.env.BASE_URL}/realisations/${tag.toLowerCase()}`;

  return skillTagMapping[tag.toLowerCase()] ? skillUrl : projectUrl;
}
---

<div class="flex flex-0 gap-1 flex-wrap">
  {tags.map((i) => (
    <a href={getTagUrl(i)}>
      <Badge className="truncate">{i}</Badge>
    </a>
  ))}
</div>
