---
import ContentTags from "../components/ContentTags.astro";
import IndexPageLayout from "./IndexPageLayout.astro";

const {frontmatter} = Astro.props;
const {title, description, image, tags, type} = frontmatter;
---

<IndexPageLayout title={title} description={description} image={image} subTitle={title}>
  <div class="w-full justify-center flex flex-col">
    <article class="prose mx-auto dark:prose-invert max-w-6xl">
      <slot/>
    </article>
  </div>
  <div class="mt-4">
    <h3 class="text-2xl mb-2 text-center">
      {type === 'competences' ? 'Compétences en lien' : type === 'realisations' ? 'Réalisations en lien' : ''}
    </h3>
    <ContentTags tags={tags}/>
  </div>
</IndexPageLayout>
