---
import ContentTags from "../components/ContentTags.astro";
import IndexPageLayout from "./IndexPageLayout.astro";

const {frontmatter} = Astro.props;
const {title, description, image, tags, canonical} = frontmatter;
---

<IndexPageLayout title={title} description={description} image={image} subTitle={title} canonicalURL={canonical}>
  <div class="w-full justify-center flex flex-col">
    <article class="prose mx-auto dark:prose-invert max-w-6xl">
      <slot/>
    </article>
  </div>
  <ContentTags tags={tags}/>
</IndexPageLayout>
