---
import ContentTags from "../components/ContentTags.astro";
import IndexPageLayout from "./IndexPageLayout.astro";

const {frontmatter} = Astro.props;
const {title, description, image, tags, canonical, type} = frontmatter;
console.log('Frontmatter complet:', JSON.stringify(frontmatter, null, 2));
console.log('Type extrait:', type);
console.log('Type direct:', frontmatter.type);
---

<IndexPageLayout title={title} description={description} image={image} subTitle={title} canonicalURL={canonical}>
  <div class="w-full justify-center flex flex-col">
    <article class="prose mx-auto dark:prose-invert max-w-6xl">
      <slot/>
    </article>
  </div>
  <div class="mt-4">
    <h3 class="text-2xl mb-2 text-center">
      {type === 'competences' ? 'Compétences en lien' : type === 'projects' ? 'Réalisations en lien' : ''}
    </h3>
    <ContentTags tags={tags}/>
  </div>
</IndexPageLayout>
